/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*li {

list-style: none;

}

.box ul li {

position: relative;
display: inline-block;
margin: 1em;

}*/

/*.nav-tabs {

  margin-bottom: 50px;
  border-bottom: 0;
  margin-top: 50;
  display: inline-block; 

}*/

.character {

margin-left: 150px;

}

.tab-pane h5{

margin-left: -70px;

}

.tab-content {

  min-width: 2000px;
  margin-left: 108px;
  margin-right: 5px;
  color: #3cb3ad;

}

/*.tabs-left > .nav-tabs > li {
  float: none;
  margin-right: 50px;
}*/
/*
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 10px 0 0 10px;
     -moz-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
}*/

/*.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}*/

/*.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color: #7eb1b3;

}

/* Custom page footer */
.footer {
  padding-top: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
